.accueil-droite {
    background-color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    gap: 20px;
}

.formulaire{
    background: linear-gradient(90deg, yellow, orange);
    display: flex;
    flex-direction: row;
    padding:20px;
    margin:50px;
    border:2px solid black;
    border-radius: 10px;
}

.questions{
    display: "flex";
    flex-direction: column;
    padding-right: 50px;
}

.reponses{
    display: "flex";
    flex-direction: column;
}

p{  
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    padding-bottom: 20px;
}

.radio{
    padding-left: 15px;
    padding-right:2px;
}

.envoyer{
    display:flex;
    justify-content: center;
    padding:10px;
    margin-bottom: 20px;
}

input[type='submit'] {
    background: linear-gradient(90deg, yellow, orange);
    font-size: 1.5em;
    width: 200px;
    margin: auto;
    padding:20px;
    border: 2px solid black;
    border-radius: 10px;
  }

input[type='submit']:hover{
    background: linear-gradient(90deg, orange, yellow);
    font-weight: bolder;
    opacity:80%
}